*{
margin: 0;
padding: 0;
box-sizing:border-box;
}
main{
width: 100%;
background-color:grey;
padding: 50px;
}
.addproduct{
margin: 10% auto;
width: 350px;
background-color: yellow;
padding: 30px;
display: flex;
flex-direction:column;
align-items:center;
justify-content:center;
}
